body {
    background-color: #242424;
    color: white;
    margin: 0;
    text-align: center;
}

button {
    font-size: 12px;
    width: 100px;
    height: 35px;
    background: #E0E0E0;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out, background 0.2s ease;
}

button:hover {
    transform: scale(1.05);
    background: #BBBBEE;
}

.title {
    color: green;
    font-size: 40px;
    line-height: 1;
}

.return-home{
    position: absolute;
    width: 100px;
    left: 20px;
    top: 20px;
    padding: 5px 10px;
}

.screen {
    display: none;
}

.screen.active {
    display: block;
}
